<div class="span4 look" data-page=<%= @looks.current_page %> >	
	
	<%= link_to (image_tag look.image.url(:thumb), :size => "140x210", :alt => look.name), look %>

	<h3>
		<%= link_to look.name, look %>
		<% if look.new? %>
			<span class="label success">New</span>
		<% end %>
	</h3>
	<%= render :partial => 'look_details', :locals => { :look => look } %>
	<p><small>Комментариев: <%= look.comments.count %></small></p>
</div>
