<div class='hero-unit'>
	<h1>Привет, T&P!</h1>
	<p>Насладитесь возможностью комментировать луки спизженные с <a href='http://lookatme.ru'>lookatme.ru</a></p>
	<div class='span4 offset11'>
	
	</div>
</div>


<div class="row">
	<div id='looks'>
		<div class='page'>				
				<%= render  @looks %>			
		</div>
	</div>
</div>

<div class="row">
	<div class='span12'>		
				<%= paginate @looks %>
	</div>		
</div>

<div id="loading" >	
	<div class="alert-message info">
			<div id='spin'> </div>
	        <a class="close" href="#">×</a>
	        <p><strong><span id='spin'> </span>Пожалуйста подождите.</strong> Подгружаем еще...</p>
			
	</div>
</div>
<%= javascript_include_tag 'scroll'%>
<%= stylesheet_link_tag 'sausage'%>
<%= javascript_include_tag 'spin.min'%>
<%= javascript_include_tag 'spinner'%>
