<div class='hero-unit'>
	<h1>Привет, T&P!</h1>
	<p>Насладитесь возможностью комментировать луки спизженные с <a href='http://lookatme.ru'>lookatme.ru</a></p>
</div>

<%= render :partial => 'top_msg'%>

<div class="row">
	<div id='looks'>		
		<div class="page">		
				<%= render  @looks %>			
		</div>
	</div>
</div>

<div class="row">
	<div class='span12'>		
				<%= paginate @looks %>
	</div>		
</div>

<%= render :partial => 'bottom_msg' %>


<%= javascript_include_tag 'scroll'%>
<%= javascript_include_tag 'spinner'%>



