<div class='span8'>

	<%= render :partial => 'next_prev' %>
	<%= image_tag @look.image.url, :size => '380x570', :alt => @look.name %>
	<h2><%= @look.name %></h2>
	<%= render :partial => 'look_details', :locals => { :look => @look } %>
	<p><%= @look.dateadded %></p>
	
	<%= render :partial => 'social' %>
</div>

<div class='span7 '>
	<h2>Комментарии (<%= @comments.count %>):</h2></br>
	<% if @comments.any? %>
		<%= render :partial => 'comments/comment', :collection => @comments %>
		<h4>Оставьте свой комментарий</h4>
	<% else %>
		<p>Никто еще не успел оставить свой комментарий, станьте первым!</p>
	<% end %>
	<%= render :partial => 'comments/form' %>
</div>

