<!DOCTYPE html>
<html>
<head>
  <title>Spizdilooki</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topbar">
	      <div class="fill">
	        <div class="container">
          
			<%= link_to "Spizdilooki", root_path, :class => :brand %>
	          <ul class="nav">
	            <li class = <%= is_home? %> ><%= link_to 'Главная', root_path %></li>
	            <li class = <%= is_active?("about") %> ><%= link_to 'О себе', static_path("about") %></li>
				
	          </ul>
	        </div>
	      </div>
	</div>
	
	
	<% unless flash[:success].blank? %>
	<div class="container low alert-message success fade in" data-alert="alert">
	            <a class="close" href="#">×</a>
	            <p><%= flash[:success] %></p>
	</div>
	<% end %>
	<% unless flash[:error].blank? %>
	<div class="container low alert-message error fade in" data-alert="alert">
	            <a class="close" href="#">×</a>
	            <p><%= flash[:error] %></p>
	</div>
	<% end %>
	
	
  	<div class="container low">

		<%= yield %>
	
  	</div>
</body>
</html>
